{{ partial "header" . }}

<main class="content-box">
    <div class="intro">
        <div class="avatar">
            <!-- <img
                class="img-responsive"
                src="{{ .Site.BaseURL }}img/{{ .Site.Params.logo }}"
                alt="yes for the logo"
                style="margin: 0 auto" /> -->
            <!-- <h1>{{ .Title }}</h1> -->
        </div>

        <div>
            <h2>{{ .Site.Params.description }}</h2>
            <p>Prince Edward Island by sea kayak</p>
        </div>
        <div style="text-align: left; margin-top: 40px">
            <p>
                This is the map of Canada. It is okay not to find
                <a href="https://en.wikipedia.org/wiki/Prince_Edward_Island"
                    >Prince Edward Island</a
                >
                at the first or second glance. Hint! it is the reddest speckle
                on this map. Lower-right, cradled between New Brunswick and Nova
                Scotia. Found it yet?!
            </p>
            <img
                src="/img/Political_map_of_Canada.svg"
                alt="Map of Canada from https://en.wikipedia.org/wiki/Provinces_and_territories_of_Canada" />
            <div style="font-size: xx-small; text-align: right">
                <a
                    href="https://en.wikipedia.org/wiki/Provinces_and_territories_of_Canada"
                    >Picture from Wikipedia</a
                >
            </div>
        </div>
    </div>
</main>

{{ partial "footer" . }}
